@mixin text-heading {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-heading);
}

@mixin text-label {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-muted);
}

@mixin text-input {
  font-size: 14px;
}

@mixin text-body {
  font-size: 16px;
  color: var(--color-muted);
}
